@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --white: #fafafa;
  --black: #1b262c;
  --bg: #0f4c75;
  --color1: #dde6ed;
  --color2: #3282b8;

  --font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
  /* background-color: var(--black); */
  font-family: var(--font-family);
  height: 100vh;
}

main {
  background: url(/assets/img/redd-f-REyoFHP9pw.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.signin__section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--black);

  padding: 30px 1px;
  width: 320px;
  border-radius: 20px;
}
.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin-container img {
  width: 60%;
  height: 50%;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--color1);
}

.container-form input {
  width: 200px;
  height: 24px;
  padding: 5px;
}

.container-form a {
  color: var(--color1);
  font-size: 14px;
}

.container-form button {
  background-color: var(--bg);
  color: var(--white);
  padding: 5px;
  width: 70%;
  border-radius: 5px;
  border: solid 2px var(--color1);
  font-family: var(--font-family);
  cursor: pointer;
  font-size: 15px;
}

.back-top {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 30px;
  color: var(--color1);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
